* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1200px;
}

body {
    background-color: #222;
    min-height: 100dvh;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: dodgerblue;
    color: white;
}
.header .header-link {
    color: white;
    text-decoration: none;
    padding: 1rem 1.25rem;
    display: inline-block;
    background-color: dodgerblue;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    &:hover{
        background-color: rgb(17, 91, 164)
    }
}
.user-info{
    display: flex;
    align-items: center;
    /* padding: 1rem 1.25rem; */

    .user-profile-picture{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        margin: 0 1rem;
    }

}



.user-table {
    width: 100%;
    border-collapse: collapse;
    
    .table-head {
        background-color: crimson;
        color: white;
        padding: 10px;
    }
    .table-body {
        tr {
            
            td {
                padding: 10px;
            }
        }
    }
}
.table-row:nth-child(even) {
    background-color: #d13333;
}

.user-table :is(th, td) {
    padding: 5px 10px;
        border: 1px solid rgb(244, 85, 188);
}

.table-body .user-image img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.action-btn{
    background-color: green;
    color: white;
    padding: .25rem;
    border-radius: 3px;
    cursor: pointer;
    border: none;

    &:not(:last-child){
        margin-right: 5px;
    }
    &.btn-danger{
        background-color: crimson;
    }
}

.input-container{
    margin-bottom: .5rem;
    .input{
        padding: .375rem .675rem;
        font-size: 1rem;
        outline: none;
        border: none;
        border-radius: 3px;
        border-bottom: 3px solid crimson;
    }
}

.admin-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: .5rem;
}

#user-form {
    max-width: 430px;
    padding: 15px;
    background-color: #111;
    margin-inline: auto;
}
.input-group {
    margin: 0 auto;
    margin-bottom: .75rem;
    display: flex;
    flex-direction: column;

    :is(input, textarea, select) {
        padding: .375rem .675rem;
        font-size: 1rem;
        outline: none;
        border: none;
        border-radius: 3px;
        border-bottom: 3px solid crimson;
    }
}

.btn-form {
    background-color: crimson;
    color: white;
    padding: .5rem .75rem;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    
    &.btn-edit{
        background-color: green;
    }

}
.mb {
    margin-bottom: .75rem;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    .card {
        background-color: white;
        color: #424242;
        border: 1px solid crimson;
        .card-image {
            height: 150px;
            overflow: hidden;
            img {
                width: 100%;
                height: 150px;
                object-fit: cover;
            }
        }
        .card-title {
            font-size: 1.25rem;
            font-weight: 500;
        }
        .card-price {
            font-size: 2rem;
            font-weight: 700;
        }
        .card-footer a {
                padding: .5rem .75rem;
                background-color: crimson;
                color: white;
                text-decoration: none;
                display: inline-block;
                font-size: 1rem;
                font-weight: 500;
                &:hover {
                    text-decoration: underline;
                }
            }
        
    }
}